/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
html {
  background-image: url(images/PurpleBlueBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  width: 70%;
  padding-top: 5vh;
}

h1, p {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  margin-top: 4%;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.2rem;
  font-weight: 700;
}

p {
  font-size: 0.9rem;
  margin-bottom: 5vh;
  font-weight: 400;
}
section {
  width: 30vw;
  margin: 0 auto;
  margin-top: 5vh;
  border: 12px solid white;
  border-radius: 5%;
  background:rgba(57,187,255,1);
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,1);
}